*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: url("https://picsum.photos/0?random=10");
  background-position: center;
  // background-size:cover;
  background-repeat: repeat;
}

$trans_time: 500ms;

$product_border_radius: 10px;

@mixin stroke_anime_2c($fill, $stroke, $transform_time) {
  -webkit-text-fill-color: $fill;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $stroke;
  //  transition settings
  transition-property: -webkit-text-fill-color, -webkit-text-stroke-color;
  transition-duration: $transform_time;
  transition-timing-function: ease-in-out;
}


:root {

  --amazon_color_1: hsla(0, 0%, 100%, 0.87);
  --amazon_color_2: hsl(0, 2%, 18%);
  --amazon_color_3: hsl(39, 100%, 75%);
  --amazon_color_3_fade: hsla(39, 100%, 75%, 0.5);


  --dark_color_1: hsla(0, 0%, 0%, 0.897);
  --dark_color_2: hsl(0, 0%, 0%);
  --dark_color_3: hsl(0, 0%, 100%);
  --dark_color_3_fade: hsla(0, 0%, 100%, 0.5);
}

//================================================================================


// both themes will have the same design, but colors will be made in a different class 
.App {
  min-height: 100vh;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  // children 

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    // padding: 1vh;

    // children

    .theme_buttons {
      padding-right: 2vh;
      display: flex;
      justify-content: space-between;
      gap: .7vw;

      @media all and (max-width:1000px) {
        gap: 2vw;
      }

      @media all and (max-width:500px) {
        gap: 4vw;
      }

      // children 
    }

    a {
      font-weight: bold;
      text-decoration: none;
      font-size: 1.2rem;
      margin-left: 4vw;

      &:hover {
        cursor: pointer;
        scale: 1.2;
        //  transition settings
        transition-property: scale;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

      }

      &:not(:hover) {
        scale: 1;
        //  transition settings
        transition-property: scale;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }
    }
  }

  main {
    padding: 1rem;
    width: 95%;


    // children

    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      // children

      .product {
        border-radius: $product_border_radius;
        overflow: hidden;

        margin: 1rem;

        &:hover {
          scale: 1.05;
          //  transition settings
          transition-property: scale;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

        &:not(:hover) {
          scale: 1;
          //  transition settings
          transition-property: scale;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

        a {
          text-decoration: none;
        }

        // children
        img {
          width: 100%;
          max-width: 400px;
        }

        .info {
          padding: 1rem;

          // children
        }
      }
    }
  }


  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 100%;
  }

}

// both themes will have the same design, but opposite colors, so we made them using mixin 
@mixin theme_app($theme1, $theme2) {
  .#{$theme1}_app {
    background: var(--#{$theme1}_color_1);
    //  transition settings
    transition-property: background-color;
    transition-duration: $trans_time;
    transition-timing-function: ease-in-out;

    // children 

    .error {
      color: red;
    }

    .loading {
      padding: 10px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2rem;
      overflow: hidden;
      $dim: 30vh;
      width: $dim;
      height: $dim;
      background-color: white;
      position: relative;
      animation: text-color 2s ease-in-out infinite alternate;

      @keyframes text-color {
        0% {
          color: rgba(0, 0, 0, 1);
          // color: var(--#{$theme1}_color_3);
          // color: var(--amazon_color_3_fade);

        }

        50% {
          color: rgba(0, 0, 0, 0.5);
          // color: var(--#{$theme1}_color_3_fade);

        }

        100% {
          color: rgba(0, 0, 0, 1);

          // color: var(--#{$theme1}_color_3);
        }
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 85%;
        height: 85%;
        border-radius: 50%;
        border: 15px solid transparent;
        animation: rotate var(--duration) var(--timing) infinite;
        pointer-events: none;
      }

      &::before {
        border-left-color: rgb(0, 0, 0);
        border-right-color: rgba(0, 0, 0, 0.5);
        --duration: 2s;
        --timing: ease-in;
      }

      &::after {
        border-top-color: rgba(0, 0, 0, 0.5);
        border-bottom-color: rgb(0, 0, 0);
        --duration: 2.5s;
        --timing: ease-out;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    header {
      background: var(--#{$theme1}_color_2);
      //  transition settings
      transition-property: background-color;
      transition-duration: $trans_time;
      transition-timing-function: ease-in-out;

      // children 

      .#{$theme1}_theme_button {
        border-radius: 5px;
        border: solid 2px var(--#{$theme1}_color_3);
        color: var(--#{$theme1}_color_2);
        background-color: var(--#{$theme1}_color_3);
        scale: 1.1;
        //  transition settings
        transition-property: scale;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }

      .#{$theme2}_theme_button {
        border-radius: 5px;
        border: solid 2px var(--#{$theme2}_color_3);
        color: var(--#{$theme2}_color_3);
        background-color: var(--#{$theme2}_color_2);
        scale: 1;
        //  transition settings
        transition-property: scale;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

        &:hover {
          cursor: pointer;
          scale: 1.32;
          color: var(--#{$theme2}_color_2);
          background-color: var(--#{$theme2}_color_3);
          //  transition settings
          transition-property: scale, color, background-color;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;

        }
      }

      a {
        color: var(--#{$theme1}_color_3);
        //  transition settings
        transition-property: color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }
    }

    main {

      // children
      .feat {
        top: 0;
        position: relative;
        font-size: 2.7rem;
        @include stroke_anime_2c(var(--#{$theme1}_color_3), var(--#{$theme1}_color_2), $trans_time);
      }

      .true_error_feat {
        top: -38vh;
      }

      .products {

        // children
        .product {
          background-color: var(--#{$theme1}_color_2);
          border: 5px var(--#{$theme1}_color_3) solid;
          //  transition settings
          transition-property: border-color, background-color;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;

          // children

          .info {
            // height: 15vh;
            display: flex;
            // flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: var(--#{$theme1}_color_3);
            // background-color: var(--#{$theme1}_color_2);
            //  transition settings
            transition-property: color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
            // children

            .name_price {
              font-size: 1.5rem;

              // children
              .name {
                color: var(--#{$theme1}_color_3);
                font-size: 1.7rem;
              }
            }

            button {
              font-size: 1.135rem;
              padding: 0.7rem;
              border-radius: 12px;
              border: solid 3.5px var(--#{$theme1}_color_3);
              color: var(--#{$theme1}_color_);
              background-color: var(--#{$theme1}_color_2);
              scale: 1;
              //  transition settings
              transition-property: scale;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;

              &:hover {
                cursor: pointer;
                scale: 1.32;
                color: var(--#{$theme1}_color_2);
                background-color: var(--#{$theme1}_color_3);
                //  transition settings
                transition-property: scale, color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }
            }

          }
        }
      }
    }

    footer {
      background: var(--#{$theme1}_color_2);
      color: var(--#{$theme1}_color_3);
      //  transition settings
      transition-property: background-color, color;
      transition-duration: $trans_time;
      transition-timing-function: ease-in-out;
    }
  }


}

// generating the dark theme
@include theme_app(dark, amazon);

// generating the amazon theme
@include theme_app(amazon, dark);