*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: url("https://picsum.photos/0?random=10");
  background-position: center;
  // background-size:cover;
  background-repeat: repeat;
}

$trans_time: 1000ms;

$product_border_radius: 10px;

@mixin stroke_anime_2c($fill, $stroke, $transform_time) {
  -webkit-text-fill-color: $fill;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: $stroke;
  //  transition settings
  transition-property: -webkit-text-fill-color, -webkit-text-stroke-color;
  transition-duration: $transform_time;
  transition-timing-function: ease-in-out;
}


:root {

  --amazon_color_1: hsla(0, 0%, 100%, 0.87);
  --amazon_color_2: hsl(0, 2%, 18%);
  --amazon_color_3: hsl(39, 100%, 75%);


  --dark_color_1: hsla(0, 0%, 0%, 0.897);
  --dark_color_2: hsl(0, 0%, 0%);
  --dark_color_3: hsl(0, 0%, 100%);
}

//================================================================================


// both themes will have the same design, but colors will be made in a different class 
.App {
  & {
    min-height: 100vh;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  // children 
  .instead_of_Head {
    padding: 0;
    margin: 0;
    height: 7vh;
  }

  header {
    & {
      position: fixed;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 7vh;
      width: 100%;
      // padding: 1vh;
    }

    // children

    .theme_buttons {
      & {
        padding-right: 2vh;
        display: flex;
        justify-content: space-between;
        gap: .7vw;

        @media all and (max-width:1000px) {
          gap: 2vw;
        }

        @media all and (max-width:500px) {
          gap: 4vw;
        }

      }

      // children 
    }

    .links {
      & {
        display: flex;
        // justify-content: center;
        align-items: center;
      }

      a {
        & {
          text-decoration: none;
          margin-right: 10px;
        }

        .name {
          & {
            font-weight: bold;
            // font-size: 1.6rem;
            margin: 10px;
            margin-left: 4vw;
          }

          &:hover {
            cursor: pointer;
            scale: 1.2;
            //  transition settings
            transition-property: scale,color;
            transition-duration: $trans_time/4;
            transition-timing-function: ease-in-out;

          }

          &:not(:hover) {
            scale: 1;
            //  transition settings
            transition-property: scale,color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
          }
        }
        // children
        .cart_link {
          & {
            display: flex;
            align-items: center;
          }

          .cart_num {

            border-radius: 50%;
            padding: 4px;
            margin: 4px;
          }
        }

      }
    }
  }

  main {
    & {
      padding: 1rem;
      width: 95%;
    }

    // children

    .products {
      & {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      // children

      .product {
        & {
          border-radius: $product_border_radius;
          overflow: hidden;

          margin: 1rem;
        }

        &:hover {
          scale: 1.05;
          //  transition settings
          transition-property: scale;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

        &:not(:hover) {
          scale: 1;
          //  transition settings
          transition-property: scale;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

        a {
          text-decoration: none;
        }

        // children
        img {
          width: 100%;
          max-width: 400px;
        }

        .info {
          padding: 1rem;

          // children
        }
      }
    }
  }

  .product_screen {
    & {
      min-width: 90%;
      max-width: 90%;
      border-radius: 12px;
      border: solid 3.5px;
      padding: 1rem;
      display: flex;
      justify-content: center;
    }

    .prod_view {
      & {
        display: flex;
        justify-content: space-around;
      }

      .prod_cart {
        button {

          & {
            font-size: 1.0135rem;
            padding: 0.427rem;
            margin: 0.427rem;
            border-radius: 12px;
            border: solid 3.5px;
          }

        }
      }

      .prod_img {
        & {
          max-width: 40%;
        }

        img {
          max-width: 100%;
          border-radius: 10px;
        }
      }
    }

  }


  .cart_screen {
    & {
      padding: 1rem;
      width: 95%;
    }

    // children
    .feat {
      text-align: center;
    }

    .cart_main {
      & {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        min-width: 100%;
      }

      // children

      .cart_action {
        // display: flex;
        // flex-wrap: wrap;
        // justify-content: center;
        // align-items: center;
        // flex-direction: column;
        margin-top: 30px;
      }

      .cart_products {
        & {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          min-width: 60%;
          max-width: 60%;
        }

        // children

        .product {
          & {
            width: 90%;
            height: 100px;
            border-radius: $product_border_radius;
            overflow: hidden;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            margin: 1rem;
          }

          &:hover {
            scale: 1.05;
            //  transition settings
            transition-property: scale;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
          }

          &:not(:hover) {
            scale: 1;
            //  transition settings
            transition-property: scale;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
          }

          a {
            text-decoration: none;
          }

          // children
          img {
            height: 80%;
          }

          .info {
            padding: 1rem;
            height: 20%;

            // children
          }
        }
      }
    }
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 100%;
  }

  .empty {
    border-color: red !important;
    background: red !important;
    color: white !important;
  }
}

// both themes will have the same design, but opposite colors, so we made them using mixin 
@mixin theme_app($theme1, $theme2) {
  .#{$theme1}_app {
    & {
      background: var(--#{$theme1}_color_1);
      //  transition settings
      transition-property: background-color;
      transition-duration: $trans_time;
      transition-timing-function: ease-in-out;
    }

    // children 
    .Signup_screen {
    form{
      & {
        color: var(--#{$theme1}_color_3);
        padding: 20px;
        border-radius: 20px;
        background-color: var(--#{$theme1}_color_2);
        border: 5px var(--#{$theme1}_color_3) solid;
        //  transition settings
        transition-property: border-color, color, background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }

      // children
      .signup_button {
        float: right;
        // children
            button {
              & {
                font-size: 1.135rem;
                padding: 0.3rem;
                border-radius: 12px;
                border: solid 3.5px;
                color: var(--#{$theme1}_color_3);
                background-color: var(--#{$theme1}_color_2);
                scale: 1;
                //  transition settings
                transition-property: scale, border-color, color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;
              }

              &:hover {
                cursor: pointer;
                scale: 1.32;
                color: var(--#{$theme1}_color_2);
                background-color: var(--#{$theme1}_color_3);
                //  transition settings
                transition-property: scale, color,border-color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }

              &:not(:hover) {
                cursor: pointer;
                border: solid 3.5px var(--#{$theme1}_color_3);
                color: var(--#{$theme1}_color_3);
                background-color: var(--#{$theme1}_color_2);
                scale: 1;
                //  transition settings
                transition-property: scale, color,border-color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }
            }

      }

      .legend_fieldset {
        padding: 10px;

      // children
        legend {
          font-weight: bold;
        }
      }
    }
    .new_customer{
      margin: 50px;
      border: 2px solid var(--#{$theme1}_color_2);
      background: white;
      border-radius: 25px;
      padding: 10px;
    }
  }
    // children 
    .Signin_screen {
    form{
      & {
        color: var(--#{$theme1}_color_3);
        padding: 20px;
        border-radius: 20px;
        background-color: var(--#{$theme1}_color_2);
        border: 5px var(--#{$theme1}_color_3) solid;
        //  transition settings
        transition-property: border-color, color, background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }

      // children
      .signin_button {
        float: right;
        // children
            button {
              & {
                font-size: 1.135rem;
                padding: 0.3rem;
                border-radius: 12px;
                border: solid 3.5px;
                color: var(--#{$theme1}_color_3);
                background-color: var(--#{$theme1}_color_2);
                scale: 1;
                //  transition settings
                transition-property: scale, border-color, color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;
              }

              &:hover {
                cursor: pointer;
                scale: 1.32;
                color: var(--#{$theme1}_color_2);
                background-color: var(--#{$theme1}_color_3);
                //  transition settings
                transition-property: scale, color,border-color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }

              &:not(:hover) {
                cursor: pointer;
                border: solid 3.5px var(--#{$theme1}_color_3);
                color: var(--#{$theme1}_color_3);
                background-color: var(--#{$theme1}_color_2);
                scale: 1;
                //  transition settings
                transition-property: scale, color,border-color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }
            }

      }

      .legend_fieldset {
        padding: 10px;

      // children
        legend {
          font-weight: bold;
        }
      }
    }
    .new_customer{
      margin: 50px;
      border: 2px solid var(--#{$theme1}_color_2);
      background: white;
      border-radius: 25px;
      padding: 10px;
    }
  }

    // legend
    // {
    //   color: var(--#{$theme1}_color_3);
    // }
    .error {
      color: red;
    }

    .loading {
      & {
        color: var(--#{$theme1}_color_3);
        padding: 10px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        overflow: hidden;
        $dim: 30vh;
        width: $dim;
        height: $dim;
        position: relative;

        // fading in and out
        animation: text-color 2s ease-in-out infinite alternate;

        //  transition settings
        transition-property: background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

        @keyframes text-color {
          0% {
            opacity: 100%;
          }

          50% {
            opacity: 10%;
          }

          100% {
            opacity: 100%;
          }
        }

      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 85%;
        height: 85%;
        border-radius: 50%;
        border: 15px solid transparent;
        animation: rotate var(--duration) var(--timing) infinite;
        pointer-events: none;
      }

      &::before {
        border-left-color: var(--#{$theme1}_color_3);
        border-right-color: var(--#{$theme1}_color_2);
        //  transition settings
        transition-property: border-left-color, border-right-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

        --duration: 2s;
        --timing: linear;
      }

      &::after {
        opacity: 25%;
        border-top-color: var(--#{$theme1}_color_3);
        border-bottom-color: var(--#{$theme1}_color_2);
        //  transition settings
        transition-property: border-top-color, border-bottom-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

        --duration: 2.5s;
        --timing: linear;
      }

      @keyframes rotate {
        0% {
          transform: rotate(0);
        }

        100% {
          transform: rotate(360deg);
        }
      }
    }

    header {
      & {
        background: var(--#{$theme1}_color_2);
        //  transition settings
        transition-property: background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }

      // children 

      .#{$theme1}_theme_button {
        & {
          border-radius: 5px;
          border: solid 2px var(--#{$theme1}_color_3);
          color: var(--#{$theme1}_color_2);
          background-color: var(--#{$theme1}_color_3);
          scale: 1.1;
          //  transition settings
          transition-property: scale;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }
      }

      .#{$theme2}_theme_button {
        & {
          border-radius: 5px;
          border: solid 2px var(--#{$theme2}_color_3);
          color: var(--#{$theme2}_color_3);
          background-color: var(--#{$theme2}_color_2);
          scale: 1;
          //  transition settings
          transition-property: scale;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

        &:hover {
          cursor: pointer;
          scale: 1.32;
          color: var(--#{$theme2}_color_2);
          background-color: var(--#{$theme2}_color_3);
          //  transition settings
          transition-property: scale, color, background-color;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;

        }

        &:not(:hover) {
          scale: 1;
          color: var(--#{$theme2}_color_3);
          background-color: var(--#{$theme2}1);
          //  transition settings
          transition-property: scale, color, background-color;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

      }

      .links {
        .name {
          color: var(--#{$theme1}_color_3);
          //  transition settings
          transition-property: color ;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }
        
        .signin {
          & {
            font-size: 1.135rem;
            padding: 0.17rem;
            margin: 0.517rem;
            border-radius: 12px;
            border: solid 3.5px;
            color: var(--#{$theme1}_color_3);
            background-color: var(--#{$theme1}_color_2);
            scale: 1;
            //  transition settings
            transition-property: scale, border-color, color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
          }

          &:hover {
            cursor: pointer;
            scale: 1.132;
            color: var(--#{$theme1}_color_2);
            background-color: var(--#{$theme1}_color_3);
            //  transition settings
            transition-property: border-color,scale, color, background-color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;

          }

          &:not(:hover) {
            cursor: pointer;
            border: solid 3.5px var(--#{$theme1}_color_3);
            color: var(--#{$theme1}_color_3);
            background-color: var(--#{$theme1}_color_2);
            scale: 1;
            //  transition settings
            transition-property: border-color,scale, color, background-color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;

          }
        }
        
        a{
          text-decoration: none;
        }

        .user{
          color: var(--#{$theme1}_color_3);
          border: solid 3px;
          border-radius: 10px;
          padding: 5px;
          //  transition settings
          transition-property: color, ;
          transition-duration: $trans_time;
          transition-timing-function: ease-in-out;
        }

        .cart_link {
          .cart_num {

            color: var(--#{$theme1}_color_2);
            background: var(--#{$theme1}_color_3);
            //  transition settings
            transition-property: color, background-color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;

          }

          .cart {

            color: var(--#{$theme1}_color_3);
            //  transition settings
            transition-property: color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
          }

        }

      }
    }

    main {

      // children
      .feat {
        top: 0;
        position: relative;
        font-size: 2.7rem;
        @include stroke_anime_2c(var(--#{$theme1}_color_3), var(--#{$theme1}_color_2), $trans_time);
      }

      .true_error_feat {
        top: -38vh;
      }

      .products {

        // children
        .product {
          & {
            background-color: var(--#{$theme1}_color_2);
            border: 5px var(--#{$theme1}_color_3) solid;
            //  transition settings
            transition-property: border-color, background-color;
            transition-duration: $trans_time;
            transition-timing-function: ease-in-out;
          }

          // children

          .info {
            & {
              display: flex;
              justify-content: space-around;
              align-items: center;
              color: var(--#{$theme1}_color_3);
              //  transition settings
              transition-property: color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;
            }

            // children

            .name_price {
              font-size: 1.5rem;

              // children
              .name {
                color: var(--#{$theme1}_color_3);
                font-size: 1.7rem;
              }
            }

            button {
              & {
                font-size: 1.135rem;
                padding: 0.7rem;
                border-radius: 12px;
                border: solid 3.5px;
                color: var(--#{$theme1}_color_3);
                background-color: var(--#{$theme1}_color_2);
                scale: 1;
                //  transition settings
                transition-property: scale, border-color, color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;
              }

              &:hover {
                cursor: pointer;
                scale: 1.32;
                color: var(--#{$theme1}_color_2);
                background-color: var(--#{$theme1}_color_3);
                //  transition settings
                transition-property: scale, color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }

              &:not(:hover) {
                cursor: pointer;
                border: solid 3.5px var(--#{$theme1}_color_3);
                color: var(--#{$theme1}_color_3);
                background-color: var(--#{$theme1}_color_2);
                scale: 1;
                //  transition settings
                transition-property: scale, color, background-color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;

              }
            }

          }
        }
      }
    }

    .product_screen {
      & {
        color: var(--#{$theme1}_color_3);
        background-color: var(--#{$theme1}_color_2);
      }

      .prod_view {
        .prod_cart {
          button {

            & {
              color: var(--#{$theme1}_color_3);
              background-color: var(--#{$theme1}_color_2);
              scale: 1;
              //  transition settings
              transition-property: scale, border-color, color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;
            }

            &:hover {
              cursor: pointer;
              scale: 1.132;
              color: var(--#{$theme1}_color_2);
              background-color: var(--#{$theme1}_color_3);
              //  transition settings
              transition-property: scale, color, background-color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;

            }

            &:not(:hover) {
              cursor: pointer;
              border: solid 3.5px var(--#{$theme1}_color_3);
              color: var(--#{$theme1}_color_3);
              background-color: var(--#{$theme1}_color_2);
              scale: 1;
              //  transition settings
              transition-property: scale, color, background-color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;

            }
          }
        }

        .prod_img {
          img {
            border: solid 3px var(--#{$theme1}_color_3);
          }
        }
      }

    }

    .cart_screen {

      // children
      .feat {
        top: 0;
        position: relative;
        font-size: 2.7rem;
        @include stroke_anime_2c(var(--#{$theme1}_color_3), var(--#{$theme1}_color_2), $trans_time);
      }

      .cart_main {

        // children
        .cart_products {

          // children
          .product {
            & {
              background-color: var(--#{$theme1}_color_2);
              border: 5px var(--#{$theme1}_color_3) solid;
              //  transition settings
              transition-property: border-color, background-color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;
            }

            // children
            img {

              border-radius: 50%;
            }

            .info {
              & {
                display: flex;
                justify-content: space-around;
                align-items: center;
                color: var(--#{$theme1}_color_3);
                //  transition settings
                transition-property: color;
                transition-duration: $trans_time;
                transition-timing-function: ease-in-out;
              }

              // children

              .name_price {
                font-size: 1.5rem;

                // children
                .name {
                  color: var(--#{$theme1}_color_3);
                  font-size: 1.7rem;
                }
              }


            }
          }
        }
      }
    }


    .Remove_from_cart {
      & {
        border-radius: 50%;
        font-size: 1.135rem;
        padding: 0.7rem;
        border: solid 3.5px;
        color: var(--#{$theme1}_color_3);
        background-color: var(--#{$theme1}_color_2);
        scale: 1;
        //  transition settings
        transition-property: scale, border-color, color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }

      &:hover {
        cursor: pointer;
        scale: 1.32;
        color: var(--#{$theme1}_color_2);
        background-color: var(--#{$theme1}_color_3);
        //  transition settings
        transition-property: scale, color, background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

      }

      &:not(:hover) {
        cursor: pointer;
        border: solid 3.5px var(--#{$theme1}_color_3);
        color: var(--#{$theme1}_color_3);
        background-color: var(--#{$theme1}_color_2);
        scale: 1;
        //  transition settings
        transition-property: scale, color, background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;


      }
    }

    .signout_b {
      & {
        font-size: 1.135rem;
        padding: 0.17rem;
        margin: 0.517rem;
        border-radius: 12px;
        border: solid 3.5px;
        color: var(--#{$theme1}_color_3);
        background-color: var(--#{$theme1}_color_2);
        scale: 1;
        //  transition settings
        transition-property: scale, border-color, color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;
      }

      &:hover {
        cursor: pointer;
        scale: 1.32;
        color: var(--#{$theme1}_color_2);
        background-color: var(--#{$theme1}_color_3);
        //  transition settings
        transition-property: scale, color, background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

      }

      &:not(:hover) {
        cursor: pointer;
        border: solid 3.5px var(--#{$theme1}_color_3);
        color: var(--#{$theme1}_color_3);
        background-color: var(--#{$theme1}_color_2);
        scale: 1;
        //  transition settings
        transition-property: scale, color, background-color;
        transition-duration: $trans_time;
        transition-timing-function: ease-in-out;

      }
    }
.ShippingScreen{
  
  form{
    & {
      color: var(--#{$theme1}_color_3);
      padding: 20px;
      border-radius: 20px;
      background-color: var(--#{$theme1}_color_2);
      border: 5px var(--#{$theme1}_color_3) solid;
      //  transition settings
      transition-property: border-color, color, background-color;
      transition-duration: $trans_time;
      transition-timing-function: ease-in-out;
    }

    // children
    .Address_button {
      float: right;
      // children
          button {
            & {
              font-size: 1.135rem;
              padding: 0.3rem;
              border-radius: 12px;
              border: solid 3.5px;
              color: var(--#{$theme1}_color_3);
              background-color: var(--#{$theme1}_color_2);
              scale: 1;
              //  transition settings
              transition-property: scale, border-color, color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;
            }

            &:hover {
              cursor: pointer;
              scale: 1.32;
              color: var(--#{$theme1}_color_2);
              background-color: var(--#{$theme1}_color_3);
              //  transition settings
              transition-property: scale, color,border-color, background-color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;

            }

            &:not(:hover) {
              cursor: pointer;
              border: solid 3.5px var(--#{$theme1}_color_3);
              color: var(--#{$theme1}_color_3);
              background-color: var(--#{$theme1}_color_2);
              scale: 1;
              //  transition settings
              transition-property: scale, color,border-color, background-color;
              transition-duration: $trans_time;
              transition-timing-function: ease-in-out;

            }
          }

    }

    .legend_fieldset {
      padding: 10px;

    // children
      legend {
        font-weight: bold;
      }
    }
  }

//  button {
//     & {
//       font-size: 1.135rem;
//       padding: 0.17rem;
//       margin: 0.517rem;
//       border-radius: 12px;
//       border: solid 3.5px;
//       color: var(--#{$theme1}_color_3);
//       background-color: var(--#{$theme1}_color_2);
//       scale: 1;
//       //  transition settings
//       transition-property: scale, border-color, color;
//       transition-duration: $trans_time;
//       transition-timing-function: ease-in-out;
//     }

//     &:hover {
//       cursor: pointer;
//       scale: 1.132;
//       color: var(--#{$theme1}_color_2);
//       background-color: var(--#{$theme1}_color_3);
//       //  transition settings
//       transition-property: border-color,scale, color, background-color;
//       transition-duration: $trans_time;
//       transition-timing-function: ease-in-out;

//     }

//     &:not(:hover) {
//       cursor: pointer;
//       border: solid 3.5px var(--#{$theme1}_color_3);
//       color: var(--#{$theme1}_color_3);
//       background-color: var(--#{$theme1}_color_2);
//       scale: 1;
//       //  transition settings
//       transition-property: border-color,scale, color, background-color;
//       transition-duration: $trans_time;
//       transition-timing-function: ease-in-out;

//     }
//   }
  
}
    footer {
      background: var(--#{$theme1}_color_2);
      color: var(--#{$theme1}_color_3);
      //  transition settings
      transition-property: background-color, color;
      transition-duration: $trans_time;
      transition-timing-function: ease-in-out;
    }
  }


}

// generating the dark theme
@include theme_app(dark, amazon);

// generating the amazon theme
@include theme_app(amazon, dark);